{% extends 'base.html' %}

{% load material_form %}

{% block header_block %}
    <title>Document</title>
{% endblock %}

{% block body_block %}

    <nav id="menu" class="panel" role="navigation">
        <ul>
            <li><a href="/index.html">Home</a></li>
            <li><a href="/upload.html">Upload</a></li>
        </ul>
    </nav>

    <div class="container">
        <div class="card">

            {{ form.title }}
            {{ form.comments }}
            <img src="data:;base64,{{ form.image }}"/>

        </div>
    </div>
{% endblock %}