{% extends 'base.html' %}

{% load material_form %}
{% load static %}

{% block header_block %}
    <title>Index page</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://raw.githubusercontent.com/ascott1/bigSlide.js/master/dist/bigSlide.js"></script>


    <script>
        $(document).ready(function () {
            $('.menu-link').bigSlide();
        });
    </script>

{% endblock %}

{% block body_block %}

    <div class="container">
        {% if user.is_authenticated %}

            <nav id="menu" class="panel" role="navigation">
                <ul>
                    <li><a href="/index.html">Home</a></li>
                    <li><a href="/upload.html">Upload</a></li>
                </ul>
            </nav>

        <div>
        <p>Hi, {{ user.username }}!<a href="/logout">(log out)</a></p>


              <div class="leftcolumn">
                  {% for file in files %}

                      <div class="card">
                          <h2>{{ file.title }}</h2>
                          <div class="fakeimg" style="height:50px;"></div>
                          <a href="{{ file.get_absolute_url }}">MORE</a>
                      </div>

                {% endfor %}
            </div>


        {% else %}
            <h2>You need to <a href="/user_login">sign in</a> to access this page</h2>
        {% endif %}
        </div>
    </div>


{% endblock %}