{% extends 'base.html' %}

{% load material_form %}

{% block header_block %}
    <title>Upload document</title>
{% endblock %}

{% block body_block %}
    <div class="container">
        <div>
            <h2>Are you sure that you want to see this file?</h2>

            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}

                {% form form=form %}
                {% endform %}
                <button type="submit">Yes</button>
            </form>

        </div>
    </div>
{% endblock %}










