{% extends 'base.html' %}

{% load material_form %}

{% block header_block %}
    <title>Upload new document</title>
{% endblock %}

{% block body_block %}
    <div class="container">
        <nav id="menu" class="panel" role="navigation">
            <ul>
                <li><a href="/index.html">Home</a></li>
                <li><a href="/upload.html">Upload</a></li>
            </ul>
        </nav>


        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% form form=form %}
            {% endform %}
            <button class="material_ripple demo_container__item btn" type="submit">Upload</button>
        </form>

            <a href="index">Return</a>

        </div>
    </div>
{% endblock %}