{% extends 'base.html' %}

{% load material_form %}

{% block header_block %}
    <title>Upload new document</title>
{% endblock %}

{% block body_block %}
    <div class="container">
        <div>

            <h1>Upload new document</h1>


            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% form form=form %}
                {% endform %}
                <button type="submit">Upload</button>
            </form>

            <a href="index">Return</a>

        </div>
    </div>
{% endblock %}










